* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#bg {
  height: 100vh;
  background-color: #2A2B2F;
}


#wrapper {
  position: relative;
  background-color: #161616;
  font-family: 'Josefin Sans', sans-serif;
}

#canvas_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

canvas {
  display: block;
}

.text {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: -80px;
  font-weight: 600;
  z-index: 10;
  cursor: pointer;
  color: #F9B31C;
  background-color: rgba(23, 23, 23, 0.9);
  padding: 10px 0;
  font-size: 25px;
}

.btn {
  position: absolute;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background: #2a2b2f;
  color: #F9B31C;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
  z-index: 11;
}

.btn_works {
  left: 100px;
  right: unset;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  color: #2a2b2f;
}
